<div class="div_container d-flex justify-content-center">
    
        <input type="text" class="input_vacina" [(ngModel)]="txtNomeVacina" placeholder="Nome da Vacina">
        <input type="text" class="input_lote" [(ngModel)]="txtLote" placeholder="Lote">
        <input type="text" class="input_validade" [(ngModel)]="txtDataValidade" placeholder="Validade">
    
     <div class="ms-1">
         <button id="edit" (click)="toggleEditMode()" class="btn btn-outline-success btn__list" title="Adicionar item">
             <!-- <mat-icon class="icon-warn">{{ add ? 'vaccines' : 'add' }}</mat-icon> -->
             <mat-icon class="icon-warn">add</mat-icon>
         </button>
     </div>
    
</div>
