.mat-drawer {
    border-right: 1px solid lightgrey;
    border-start-end-radius: 0px;
}
 
.mat-drawer-container {
    position: static;
}


.sidenav-container {
    min-height: 100vh;
}
  
mat-sidenav {
    width: 250px;
    position: fixed;
}

mat-toolbar {
    padding: 0px;
    // background-color: #243140;
    background-color: #2e3c4c;
}

.sidenav_titulo {
    color: white;
}

.mat-icon__menu {
    color: white;
}
  
mat-sidenav-content {
    overflow: hidden !important;
}
  
.menu__fixed {
    position: fixed;
    height: 44px;
    background-color: #2e3c4c;
    top: -10px;
    left: 0px;
    z-index: 1000;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu__button {
    position: static;
    margin-right: 4px;
    top: 16px; 
    left: 16px;
    z-index: 1000; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}