<div>
    <!-- <app-fab [icon]="'info'" [action]="triggerFAB"></app-fab> -->
    <app-fab [actions]="fabActions"></app-fab>

    <div 
      class="div__buttons"
      [ngClass]="{
        'div__buttons_scroll': showFloatingButton,
        'hidden-toolbar': menuHidden
      }">
        <div class="scrollx__buttons">
            <input class="input__id ms-1 me-1" type="search" [(ngModel)]="txtId" placeholder="Código" title="Inserir código da lista">
            <button class="btn btn-outline-primary me-1 btn__list" (click)="downloadList(txtId)" title="Baixar lista">
                @if(!isLoading) {
                    <mat-icon>download</mat-icon>
                } @else {
                    <mat-spinner></mat-spinner>
                }
            </button>
            <button class="btn btn-outline-primary me-1 btn__list btn__upload" (click)="saveListAlert()" title="Salvar lista">
                <mat-icon [ngClass]="{ 'red-icon': isChanged, 'green-icon': !isChanged }">upload</mat-icon>
            </button>
            <button class="btn btn-outline-danger me-1 btn__list" (click)="clearAllChecks()" title="Limpar seleção">
                <mat-icon>deselect</mat-icon>
            </button>
            <button type="button" class="btn btn-outline-info me-1 btn__list" (click)="openBottomSheet()" title="Informações do calendário de vacina">
                <mat-icon>info</mat-icon>
            </button>

            <button class="btn btn-outline-dark me-1 btn__list" (click)="moreOptions()" title="∙∙∙ Mais">
                <mat-icon>more_vert</mat-icon>
            </button>

            <button class="btn btn-outline-secondary me-1 btn__list" id="edit" (click)="toggleEditMode()" title="Editar lista">
                @if(!this.isEditMode){<mat-icon>edit</mat-icon>} @else {<mat-icon class="red-icon">save_as</mat-icon>}
            </button>            
            <button class="btn btn-outline-primary me-1 btn__list" (click)="updateList()" title="Recarregar lista local">
                <mat-icon>refresh</mat-icon>
            </button>            
            <button class="btn btn-outline-warning btn__list me-1" (click)="windowOpen()" title="Abrir página redimensionada">
                <mat-icon>vertical_split</mat-icon>
            </button>
        </div>

        <div class="div__btn d-none">
            <button [hidden]="isHiddenDiv" class="btn btn-outline-primary me-1 btn__list" (click)="updateList()" title="Recarregar lista local">
                <mat-icon>refresh</mat-icon>
            </button>
            <button [hidden]="isHiddenDiv" class="btn btn-outline-secondary me-1 btn__list" id="edit" (click)="toggleEditMode()" title="Editar lista">
                @if(!this.isEditMode){<mat-icon>edit</mat-icon>} @else {<mat-icon class="red-icon">save_as</mat-icon>}
            </button>
            <button [hidden]="isHiddenDiv" class="btn btn-outline-warning btn__list me-1" (click)="windowOpen()" title="Redimensionar ">
                <mat-icon>vertical_split</mat-icon>
            </button>
        </div>
        
        <div [hidden]="isHiddenDiv">
            <div>        
                <app-item-add (dataChanged)="handleRowChange($event, 0)" ngSkipHydration></app-item-add>
            </div>
        </div>

        <div [ngClass]="{ 'visible-row': showRow, 'hidden-row': !showRow }" (click)='toggleMenuHidden()'>
            <div class="div__info">
                @if(showFloatingButton) {
                    <mat-icon class="bg-white me-1 rounded-5">{{ menuHidden ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
                }
                <div class="text-center div__id no_select me-1" *ngIf="listaVacinasId">
                    Código {{listaVacinasId}}
                </div>
            </div>
        </div>

    </div>
    
    <p></p>
    <div class="copied-message" *ngIf="copiedMessage">{{ copiedMessage }}</div>
    <div class="copied-message" *ngIf="txtToastMessage">{{ txtToastMessage }}</div>

    <div cdkDropList (cdkDropListDropped)="drop($event)" class="div__list">
        <div 
          *ngFor="let row of rows; let i = index" 
          cdkDrag
          cdkDragLockAxis="y"
          [cdkDragDisabled]="!isEditMode">
            <div class="div__itens">
                <button class="btn btn-link btn__check_box d-none" (click)="toggleCheck(i)">
                    <mat-icon>{{ row.checked ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                </button>
                @if (isEditMode) {
                    <input class="input_vacina" type="search" [(ngModel)]="row.nomeVacina" placeholder="Nome da Vacina" (ngModelChange)="onRowChange()">
                    <input class="input_lote" type="search" [(ngModel)]="row.lote" placeholder="Lote" (ngModelChange)="onRowChange()">
                    <input class="input_validade" type="search" [(ngModel)]="row.validade" placeholder="Validade" (ngModelChange)="onRowChange()">
                    <button class="btn btn-outline-danger btn__delete" (click)="confirmDelete(i, row.nomeVacina)" (ngModelChange)="onRowChange()">
                        <mat-icon>delete</mat-icon>
                    </button>
                } @else {
                    <div
                        class="mx-1 text-body-emphasis div__text div_vacina no_select"
                        (click)="toggleSelecionado(row.nomeVacina)"
                        [ngClass]="{
                            'selecionado': selectedNomesVacinas.includes(row.nomeVacina),
                        }"
                        [title]="row.nomeVacina"
                    >
                        {{ row.nomeVacina }}
                        @if (isSubcutanea(row.nomeVacina)) {
                            <span class="badge text-bg-warning">subcutânea</span>
                        }
                    </div>

                    <div
                        class="me-1 fw-medium div__text div_lote curso_copy no_select"
                        (click)="onClickLote(row.lote)"
                        [ngClass]="{
                            'copied': copiedValue === row.lote && !!row.lote,
                            'selecionado-lote': selectedLotes.includes(row.lote)
                        }"
                        title="{{row.lote}}"
                    >
                        {{ row.lote | truncate:20 }}
                    </div>
                    <div
                        class="text-body-secondary div__text div_validade curso_copy"
                        (click)="copyToClipboard(row.validade)"
                        [ngClass]="{ 'copied': copiedValue === row.validade }"
                        [title]="row.validade"
                    >
                        <!-- {{ row.validade | slice:0:8 }} -->
                        {{ row.validade | truncate:8 }}
                    </div>

                    <div class="div__select">
                        <select
                          [(ngModel)]="row.opcaoSelecionada" 
                          [title]="pegarLocalDeVacinacao(row.opcaoSelecionada).descricao">
                            <option 
                                *ngFor="let opcao of opcoes" 
                                [value]="opcao.id" 
                                [title]="opcao.descricao">
                                {{ opcao.nome }}
                            </option>
                        </select>
                    </div>

                    <button class="btn btn-outline-secondary btn__letter me-1 btn__list d-none" 
                        (click)="toggleLetter(i)"
                        [title]="getLetterState(row.opcaoSelecionada).descricao"
                        [ngClass]="{
                        'letter-empty': row.opcaoSelecionada === '0',
                        'letter-be': row.opcaoSelecionada === '1',
                        'letter-bd': row.opcaoSelecionada === '2',
                        'letter-ce': row.opcaoSelecionada === '3',
                        'letter-cd': row.opcaoSelecionada === '4'
                        }"
                    >
                        {{ getLetterState(row.opcaoSelecionada).nome }}
                    </button>
                }
                <button
                     class="btn btn__drag btn__list bg-transparent"
                     cdkDragHandle title="Arrastar para mover"
                     arial-label="Arrastar para mover linha"
                     [ngClass]="{'d-none': !isEditMode}"
                     >
                        <mat-icon>drag_indicator</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>