
<div hidden="true">
    <button class="btn__crianca" (click)="filtrar('Criança')">Criança</button>
    <div id="listVacinaSimplificada" [innerHTML]="popoverListHtml"></div>
</div>

<div class="container mt-5">
    <h2>Lista de Vacinas</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Vacina</th>
                <th>Dose</th>
                <th>Faixa</th>
                <th>Idade Min Ano</th>
                <th>Idade Min Mês</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vaccine of vaccines">
                <td>{{ vaccine.vacina }}</td>
                <td>{{ vaccine.dose || 'N/A' }}</td>
                <td>{{ vaccine.faixa }}</td>
                <td>{{ vaccine.idade_ano_minimo }}</td>
                <td>{{ vaccine.idade_mes_minimo }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
