
<h5>Calendário Nacional de Vacinação</h5>

<div [innerHTML]="informacoes_vacina"></div>

<hr>

<div class="select__faixa d-none">
  <label for="faixa">Filtrar:</label>
  <select [(ngModel)]="faixaSelecionada" id="faixa" (ngModelChange)="filtrarPorGrupoEtario($event)"
    class="select__faixa">
    <option *ngFor="let faixa of faixasDisponiveis" [value]="faixa">
      {{ faixa }}
    </option>
  </select>
  <button (click)="filtrarPorGrupoEtario(faixaSelecionada)" class="btn btn-outline-secondary">Filtrar</button>
</div>

<div class="button_faixa">
  <div class="button-container">
    <button class="btn btn__crianca" (click)="filtrarPorGrupoEtario('Criança')">Criança</button>
    <button class="btn btn__adolescente" (click)="filtrarPorGrupoEtario('Adolescente')">Adolescente</button>
    <button class="btn btn__adulto" (click)="filtrarPorGrupoEtario('Adulto')">Adulto</button>
    <button class="btn btn__idoso" (click)="filtrarPorGrupoEtario('Idoso')">Idoso</button>
    <button class="btn btn__gestante" (click)="filtrarPorGrupoEtario('Gestante')">Gestante</button>
  </div>
</div>

<hr>

<div>

    <h3>{{tituloGrupo}}</h3>
    <br>

    <div *ngFor="let grupo of gruposVacinas">
        <h5>
            <ng-container *ngIf="grupo.idade_ano === 0 && grupo.idade_mes === 0; else idadeNormal">
              Ao nascer
            </ng-container>
            <ng-template #idadeNormal>
              <ng-container *ngIf="grupo.idade_ano > 0">
                {{ grupo.idade_ano }} {{ grupo.idade_ano === 1 ? 'ano' : 'anos' }}
              </ng-container>
              <ng-container *ngIf="grupo.idade_mes > 0">
                <span *ngIf="grupo.idade_ano > 0">e </span>
                {{ grupo.idade_mes }} {{ grupo.idade_mes === 1 ? 'mês' : 'meses' }}
              </ng-container>
            </ng-template>
          </h5>         
        <ul>
          <button *ngFor="let vacina of grupo.vacinas"
                (click)="abrirDetalhes(vacina)"
                class="btn btn-outline-success m-1 btn__vacina">
            {{ vacina.vacina }} {{ vacina.dose ? ' (' + vacina.dose + ')' : '' }}
          </button>
        </ul>
    </div>
</div>

<hr>

<div class="container mt-5">
    <h2>Lista de Vacinas</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Vacina</th>
                <th>Dose</th>
                <th>Faixa</th>
                <th>Observação</th>
                <th>Outras informações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vaccine of vaccines">
                <td>{{ vaccine.vacina }}</td>
                <td>{{ vaccine.dose || 'N/A' }}</td>
                <td>{{ vaccine.faixa }}</td>
                <td>{{ vaccine.observacao }}</td>
                <td>{{ vaccine.informacoes_complementares }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<!--
  id: number;
  vacina: string;
  vacina_sigla: string;
  dose: string;
  idade_ano_minimo: number;
  idade_mes_minimo: number;
  idade_ano_maximo: string;
  idade_mes_maximo: string;
  faixa: string;
  categoria: string;
  grupo_de_atendimento: string;
  grupo: string;
  observacao: string;
  informacoes_complementares: string;
  via_de_administracao: string;
  local_de_administracao: string;
  lote: string;
  validade: string;
-->
