<div class="div__content">
    <button id="atualizar" (click)="atualizar()">Atualizar</button>
    <div id="updatePage"></div>
    <div class="button-container">
        <button class="btn__todos" (click)="filtrar('Todos')">Todos</button>
        <button class="btn__crianca" (click)="filtrar('Criança')">Criança</button>
        <button class="btn__adolescente" (click)="filtrar('Adolescente')">Adolescente</button>
        <button class="btn__adulto" (click)="filtrar('Adulto')">Adulto</button>
        <button class="btn__idoso" (click)="filtrar('Idoso')">Idoso</button>
        <button class="btn__gestante" (click)="filtrar('Gestante')">Gestante</button>
    </div>
    <div>
        <div id="lista">
            <div id="divTitleFaixa">Todos</div>
            <div id="selectIdade" class="d__none">
                <label for="idade">Idade:</label>
                <select id="idade" [(ngModel)]="idadeSelecionada" (change)="filtrarPorIdade()">
                    <option disabled selected value="-">- Selecione -</option>
                    <option *ngFor="let idade of idades" [value]="idade.valor">{{ idade.label }}</option>
                </select>
            </div>

            <div id="listVacinaSimplificada" [innerHTML]="popoverListHtml"></div>

            <div id="container"></div>
            <br>
            <div class="div__show-data" id="showDataInTable"></div>
            <div id="card"></div>
        </div>
    </div>
</div>