<div class="div__container">
    <h5>{{ vacina.vacina }}</h5>

    <div class="d-grid my-2">
        @if(vacina.vacina_sigla){<b>Sigla:</b>}
        <div>{{ vacina.vacina_sigla }}</div>
        @if(vacina.dose){<b>Dose:</b>}
        <div>{{ vacina.dose }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.faixa){<b>Faixa:</b>}
        <div>{{ vacina.faixa }}</div>
    </div>    
    <div class="d-grid my-2">
        @if(vacina.observacao){<b>Observação:</b>}
        <div>
            @if(vacina.observacao && vacina.observacao.startsWith('[')){
                <ul>
                    @for(item of parseJsonArray(vacina.observacao); track item){
                        <li>{{ item }}</li>
                    }
                </ul>
            }@else {
                {{ vacina.observacao }}
            }
        </div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.informacoes_complementares){<b>Informações:</b>}
        <div>{{ vacina.informacoes_complementares }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.via_de_administracao){<b>Via administração:</b>}
        <div>{{ vacina.via_de_administracao }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.local_de_administracao){<b>Local administração:</b>}
        <div>{{ vacina.local_de_administracao }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.indicacao){<b>Indicação:</b>}
        <div>{{ vacina.indicacao }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.contra_indicacao){<b>Contraindicação:</b>}
        <div>{{ vacina.contra_indicacao }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.esquema){<b>Esquema:</b>}
        <div>{{ vacina.esquema }}</div>
    </div>
    <div class="d-grid my-2">
        @if(vacina.conservacao_e_validade){<b>Conservação e validade:</b>}
        <div>{{ vacina.conservacao_e_validade}}</div>
    </div>
</div>


<!--
  id: number;
  vacina: string;
  vacina_sigla: string;
  dose: string;
  idade_ano_minimo: number;
  idade_mes_minimo: number;
  idade_ano_maximo: string;
  idade_mes_maximo: string;
  faixa: string;
  categoria: string;
  grupo_de_atendimento: string;
  grupo: string;
  observacao: string;
  informacoes_complementares: string;
  via_de_administracao: string;
  local_de_administracao: string;
  lote: string;
  validade: string;
-->