.div_container {
    padding: 4px 2px;
    background-color: #243140; // #f1f1f7
}

input {
    margin: 0 1px;
}

.input_vacina {
    width: 30%;
}

.input_lote {
    width: 30%;
}

.input_validade {
    width: 20%;
}

.copyable {
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;

    &:hover {
        color: #007bff;
    }
}
  
.copied-message {
    margin-top: 8px;
    color: green;
    font-size: 0.9rem;
    animation: fadeOut 2s forwards;
}
  
@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}