.div__buttons {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #243140;
    padding: 0px 0px;
}

.div__btn {
    align-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: content-box;
    display: flex;
    padding: 2px 0px;
}

app-row {
    display: block;
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: 700px;
    place-self: center;
}

.div__id {
    color: #d4edda;
}

.input__size-row {
    width: 60px;
}

.input__id {
    height: clamp(36px, 6vw, 48px);    
    width: clamp(90px, 6vw, 120px);
}

.input_vacina {
    width: 35%;
}

.input_lote {
    width: 40%;
}

.input_validade {
    width: 15%;
}

.div_vacina {
    width: 40%;
}

.div_lote {
    width: 40%;
}

.div_validade {
    width: 8%;
}

.copyable {
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;

    &:hover {
        color: #007bff;
    }
}
  
.copied-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #e6ffe6;
    color: #2e7d32;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    animation: fadeOut 2s forwards;
}

.div__list {
    max-width: 700px;
    margin: auto;
}

.div__itens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.btn__check_box {
    width: 25px;
}
  
@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.div_vacina.selecionado {
    background-color: #abc7ff;
    border-radius: 8px;
    padding: 3px 4px;
    transition: background-color 0.3s ease;
}

.selecionado-lote {
    background-color:#007bff1a;
    border-radius: 8px;
    padding: 3px 4px;
    transition: background-color 0.3s ease;
}

.copied {
    background-color: #7edf77;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    animation: pulseCopy 0.4s ease;
    padding: 4px 4px;
}

.div__text {
    align-content: center;
    min-width:  10%;
    cursor: copy;
}

select {
    border-radius: 10px;
    height: 38px;
}

.div__select {
    align-content: center;
}

.btn__delete {
    border: none;
}

.btn__letter {
    border: solid transparent;
    min-width: 2rem;      // largura fixa
    text-align: center;   // centraliza o '-','E' ou 'D'
    font-weight: bold;
    min-width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s;
  
    &.letter-empty {
      background: #f0f0f0;
      color: #666;
    }
    &.letter-e {
      background: #cce5ff;
      color: #004085;
    }
    &.letter-d {
      background: #d4edda;
      color: #155724;
    }
  
    &:hover {
      filter: brightness(0.95);
    }
}

mat-spinner {
    height: 25px !important;
    width: 46px !important;
}

[cdkDrag] {
    cursor: move;
}
  
.cdk-drag-preview {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: white;
    border-radius: 4px;
    padding: 4px;
}
  
@keyframes pulseCopy {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

.hidden-row {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    display: none;
}
  
.visible-row {
    opacity: 1;
    transform: translateY(0);
}