<div class="container">
    <div class="div__buttons">
        <div class="my-1 div_download btn_config">
            <input class="input__id me-1" type="text" [(ngModel)]="txtId" placeholder="id">
            <button class="btn btn-outline-primary me-1" (click)="downloadList(txtId)" title="Baixar lista">
                @if(!isLoading) {
                    <mat-icon>download</mat-icon>
                } @else {
                    <mat-spinner></mat-spinner>
                }
            </button>
            <button class="btn btn-outline-primary me-1" (click)="saveListAlert()" title="Salvar lista">
                <mat-icon [ngClass]="{ 'red-icon': isChanged, 'green-icon': !isChanged }">upload</mat-icon>
            </button>
            <button class="btn btn-outline-danger me-1" (click)="clearAllChecks()" title="Limpar seleção">
                <mat-icon>clear</mat-icon>
            </button>
            <button class="btn btn-outline-secondary me-1" id="edit" (click)="toggleEditMode()" title="Editar lista">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btn-outline-primary" (click)="updateRows()" title="Recarregar lista local">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <app-row
            [ngClass]="{ 'visible-row': showRow, 'hidden-row': !showRow }"
            (dataChanged)="handleRowChange($event, 0)"
            ngSkipHydration>
        </app-row>
        <div class="text-center">{{listaVacinasId}}</div>
    </div>
    
    <p></p>
    <div class="copied-message" *ngIf="copiedMessage">{{ copiedMessage }}</div>
    <div class="copied-message" *ngIf="txtToastMessage">{{ txtToastMessage }}</div>

    <div cdkDropList (cdkDropListDropped)="drop($event)" class="div__list">
        <div 
          *ngFor="let row of rows; let i = index" 
          cdkDrag 
          [cdkDragDisabled]="isEditMode">
            <div class="div__itens">
                <button class="btn btn-link btn__check_box" (click)="toggleCheck(i)">
                    <mat-icon>{{ row.checked ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                </button>
                @if (isEditMode) {
                    <input class="input_vacina" type="text" [(ngModel)]="row.nomeVacina" placeholder="Nome da Vacina">
                    <input class="input_lote" type="text" [(ngModel)]="row.lote" placeholder="Lote">
                    <input class="input_validade" type="text" [(ngModel)]="row.validade" placeholder="Validade">
                    <button class="btn btn-outline-danger btn__delete" (click)="confirmDelete(i, row.nomeVacina)">
                        <mat-icon>delete</mat-icon>
                    </button>
                } @else {
                    <div
                        class="div__text div_vacina mx-1 text-body-emphasis"
                        (click)="copyToClipboard(row.nomeVacina)"
                        [ngClass]="{ 'copied': copiedValue === row.nomeVacina }"
                        [title]="row.nomeVacina"
                    >
                        {{ row.nomeVacina }}
                        @if (isSubcutanea(row.nomeVacina)) {
                            <span class="badge text-bg-warning">subcutânea</span>
                        }
                    </div>

                    <div
                        class="div__text div_lote me-1 fw-medium"
                        (click)="copyToClipboard(row.lote)"
                        [ngClass]="{ 'copied': copiedValue === row.lote }"
                        title={{row.lote}}
                    >
                        {{ row.lote | truncate:20 }}
                    </div>

                    <div
                        class="div__text div_validade text-body-secondary"
                        (click)="copyToClipboard(row.validade)"
                        [ngClass]="{ 'copied': copiedValue === row.validade }"
                        [title]="row.validade"
                    >
                        {{ row.validade | slice:0:8 }}
                    </div>

                    <div class="div__select d-none">
                        <select [(ngModel)]="row.opcaoSelecionada">
                            <option 
                                *ngFor="let opcao of opcoes" 
                                [value]="opcao.id" 
                                [title]="opcao.descricao">
                                {{ opcao.nome }}
                            </option>
                        </select>
                    </div>

                    <button class="btn btn-outline-secondary btn__letter me-1" 
                        (click)="toggleLetter(i)" title="Alternar posição"
                        [ngClass]="{
                            'letter-empty': !row.opcaoSelecionada || row.opcaoSelecionada === '-',
                            'letter-e': row.opcaoSelecionada === 'E',
                            'letter-d': row.opcaoSelecionada === 'D'
                        }"
                        >
                        {{ row.opcaoSelecionada || '-' }}
                    </button>

                    <button class="btn btn__drag" cdkDragHandle title="Arrastar para mover" arial-label="Arrastar para mover linha">
                        <mat-icon>drag_indicator</mat-icon>
                    </button>
                }
            </div>
        </div>
    </div>

</div>